/* Universal Project colors */
$black: #000;
$white: #FFF;
$grey: #777;
$light-green: #7ED56F;
$light-green-translucent: rgba(40, 180, 131, 0.6);
$medium-green: #55C57A;
$dark-green: #28B485;
$dark-green-translucent: rgba(126, 213, 111, 0.6);

/* Header button colors */
$button-background: $white;
$button-text: $grey;

/* Animation Variables*/
$header-animation-time: 3.5s;
