/* Universal Project colors */
$black: #000;
$white: #FFF;
$grey: #777;
$light-grey-1: #f7f7f7;

$light-green: #7ED56F;
$light-green-translucent: rgba(40, 180, 131, 0.6);
$medium-green: #55C57A;
$dark-green: #28B485;
$dark-green-translucent: rgba(126, 213, 111, 0.6);

//Orange card colors
$light-orange: #ffb900;
$dark-orange: #ff7730;

//Blue card colors
$light-blue: #2998ff;
$dark-blue: #4643fa;

//end colors

/* Header button colors */
$button-background: $white;
$button-text: $grey;


/* Text Variables */
$default-font-size: 1.6rem;


/* Animation Variables*/
$header-animation-time: 3.5s;


/* _grid.scss Variables*/
$grid-element-background: #EEE;
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

$col-1-of-2-width: calc((100% - #{$gutter-horizontal}) / 2);
$col-1-of-3-width: calc((100% - (2 * #{$gutter-horizontal})) / 3);
$col-2-of-3-width: calc(100% - #{$col-1-of-3-width} - #{$gutter-horizontal});
$col-1-of-4-width: calc((100% - (3 * #{$gutter-horizontal})) / 4);
$col-2-of-4-width: calc(100% - 2 * #{$col-1-of-4-width} - 2 * #{$gutter-horizontal});
$col-3-of-4-width: calc(100% - #{$col-1-of-4-width} - #{$gutter-horizontal});