.btn {

    &,
    &:link,
    &:visited {
        box-shadow: 2px 5px 0 $color__black;
        text-transform:  uppercase;
        text-decoration: none;
        padding:         1.5rem 4rem;
        cursor: pointer;
        display:         inline-block;
        border-radius:   $border__radius--max;
        transition:      all 0.2s;
        position:        relative;
        font-size:       $font__size--default;
        border: none;

        &:active {
            box-shadow: none;
            transform:   translate(2px, 5px);
        }
    }


    &--white {
        background-color: $button__background--color;
        color:            $button__text--color;

        &::after {
            background-color: $button__background--color;
        }
    }

    &--green {
        background-color: $color__green--light;
        color:            $color__white;
    }

    &::after {
        content:       "";
        display:       inline-block;
        height:        100%;
        width:         100%;
        border-radius: $border__radius--max;
        position:      absolute;
        top:           0;
        left:          0;
        z-index:       -1;
        transition:    all 0.4s;
        animation:     fadeButtonIn $header__animation--time ease-in-out;
    }

    &--animate {
        animation:       moveInBottom $header__animation--time ease-in-out;
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size:       $font__size--default;
        color:           $color__green--light;
        display:         inline-block;
        text-decoration: none;
        border-bottom:   1px solid $color__green--light;
        padding:         3px;
        transition:      all 0.3s;
    }

    &:hover {
        background-color: $color__green--light;
        color:            $color__white;
        border-radius:    $border__radius--max;
        box-shadow:       0 0.4rem 0 rgba($color__black, 0.5);
        transform:        translateY(-3px) scale(1.05);
    }

    &:active {
        transform:  translateY(-1px);
        box-shadow: none;
    }

}