.card {
    //FUNCTIONALITY
    perspective:      100rem;
    -moz-perspective: 100rem;
    position:         relative;
    height:           50rem;

    &__side {
        height:              50rem;
        position:            absolute;
        top:                 0;
        left:                0;
        width:               100%;
        backface-visibility: hidden;
        border-radius:       $border__radius--medium;
        overflow:            hidden; //make sure that border still rounded after image is placed on top.
        box-shadow:          1.4rem 1.5rem 0 rgba($color__black, 0.15);
        transition:          all 0.8s ease;

        &--front {
            background-color: $color__white;
        }

        &--back {
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to right bottom, $color__orange--light, $color__orange--dark);
            }

            &-2 {
                background-image: linear-gradient(to right bottom, $color__green--light, $color__green--dark);
            }

            &-3 {
                background-image: linear-gradient(to right bottom, $color__blue--light, $color__blue--dark);
            }
        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }

    // FRONT SIDE STYLING
    &__picture {
        background-size:       cover;
        height:                23rem;
        background-blend-mode: color;
        -webkit-clip-path:     polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path:             polygon(0 0, 100% 0, 100% 85%, 0 100%);

        &--1 {
            background-image: linear-gradient(to right bottom, $color__orange--light, $color__orange--dark),
                              url(../img/nat-5.jpg);
        }

        &--2 {
            background-image: linear-gradient(to right bottom, $color__green--light, $color__green--dark),
                              url(../img/nat-6.jpg);
        }

        &--3 {
            background-image: linear-gradient(to right bottom, $color__blue--light, $color__blue--dark),
                              url(../img/nat-7.jpg);
        }
    }

    &__heading {
        font-size:      2.8rem;
        font-weight:    300;
        text-transform: uppercase;
        text-align:     right;
        color:          $color__white;
        position:       absolute;
        top:            14rem;
        right:          1rem;

        &-1 {
            width:     50%;
            min-width: 50%;
        }

        &-2 {
            width:     60%;
            min-width: 60%;
        }

        &-3 {
            width:        65%;
            min-width:    65%;
            margin-right: 1rem;
        }
    }

    span {
        height: 10rem;
    }

    &__heading--offset {

        &-1 {
            background-image: linear-gradient(to right bottom, rgba($color__orange--light, 0.8), rgba($color__orange--dark, 0.8));
        }

        &-2 {
            background-image: linear-gradient(to right bottom, rgba($color__green--light, 0.8), rgba($color__green--dark, 0.8));
        }

        &-3 {
            background-image: linear-gradient(to right bottom, rgba($color__blue--light, 0.8), rgba($color__blue--dark, 0.8));
        }
    }

    &__details {
        padding: 3rem;

        ul {
            list-style: none;
            width:      80%;
            margin:     0 auto;

            li {
                text-align: center;
                font-size:  1.5rem;
                padding:    1rem;

                &:not(:last-child) {
                    border-bottom: 1px solid $color__grey--light-2;
                }
            }
        }
    }

    //BACK SIDE STYLING

    &__cta {
        position:   absolute;
        top:        50%;
        left:       50%;
        transform:  translate(-50%, -50%);
        width:      90%;
        text-align: center;
    }

    &__price-box {
        text-align:    center;
        color:         $color__white;
        margin-bottom: 8rem;
    }

    &__price-only {
        font-size:      1.4rem;
        text-transform: uppercase;
    }

    &__price-value {
        font-size:   6rem;
        font-weight: 100;
    }
}