@keyframes moveInLeft {
    0% {
        opacity:   0;
        transform: translateX(-10rem);
    }

    25% {
        color: $color__black;
    }

    100% {
        opacity:   1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity:   0;
        transform: translateX(10rem);
    }

    25% {
        color: $color__black;
    }

    100% {
        opacity:   1;
        transform: translate(0);
    }

}

@keyframes moveInBottom {
    0% {
        opacity:          0;
        background-color: $color__black;
        color:            $color__white;
        transform:        translateY(10rem);
    }

    60% {
        background-color: $color__black;
        color:            $color__white;
    }

    100% {
        opacity:   1;
        transform: translate(0);
    }

}

@keyframes fadeButtonIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}
