@keyframes moveInLeft {
    0% {
        opacity:   0;
        transform: translateX(-10rem);
    }

    25% {
        color: $color__black;
    }

    100% {
        opacity:   1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity:   0;
        transform: translateX(10rem);
    }

    25% {
        color: $color__black;
    }

    100% {
        opacity:   1;
        transform: translate(0);
    }

}

@keyframes moveInBottom {
    0% {
        opacity:          0;
        background-color: $color__black;
        color:            $color__white;
        transform:        translateY(10rem);
    }

    60% {
        background-color: $color__black;
        color:            $color__white;
    }

    100% {
        opacity:   1;
        transform: translate(0);
    }

}

@keyframes fadeButtonIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}


@keyframes easeOutBounce {
    0% {
        transform: scale(1) translateX(0%);

    }

    12% {
        transform: scale(0.89) translateX(-10.89%);
    }

    24% {
        transform: scale(0.56) translateX(-43.56%);
    }

    36% {
        transform: scale(0.02)  translateX(-98.01%);
    }

    54% {
        transform: scale(0.25) translateX(-75.02%);
    }

    74% {
        transform: scale(0.02) translateX(-98.37%);
    }

    82% {
        transform: scale(0.06) translateX(-93.75%);
    }

    92% {
        transform: scale(0.01) translateX(-99.34%);
    }

    96% {
        transform: scale(0.02) translateX(-98.46%);
    }

    100% {
        transform: scale(0) translateX(-100%);
    }


}